# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
bekaans.DataAccessLayer/bekaans.DataAccessLayer.csproj
.vs/bekaans/FileContentIndex/6384c13f-88ef-4985-bd41-b166015dbddb.vsidx
.vs/bekaans/FileContentIndex/dd04cc8b-da49-4858-b8dc-0acc3aff8347.vsidx
bekaans.BLL/bin/Debug/EntityFramework.xml
